* {
  margin: 0;
  padding: 0;
}

:root {
  --darkblue-color: #0d192b;
  --light-blue-color: #14253d;
  --white--color: #fff;
  --white--hover: #00bcca;
  --text-color: #a1a8ae;
}

body {
  background: var(--darkblue-color);
}

/* Card */

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 10rem;
}

.card .card-container {
  border-radius: 0.5rem;
  background: var(--light-blue-color);
  padding: 1rem;
}

.card .card-container .card-heading img {
  border-radius: 0.5rem;
}

/* Card-content */
.card-content {
  padding: 1rem 0;
}
.card-content .card-article h2 {
  padding: 0.5rem 0;
  color: var(--white--color);
  font-weight: bold;
  font-size: 2.1rem;
}
.card-content .card-article p {
  padding: 0.5rem 0;
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.1rem;
}
.card-content .card-article h2:hover {
  color: var(--white--hover);
}

/* card-contents */
.card-content .card-eth {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.card-content .left {
  width: 100%;
  align-items: center;
  display: flex;
  gap: 1rem;
}
.card-content .left p,
.right p {
  color: var(--white--hover);
  font-weight: bold;
  font-size: 1.2rem;
}

.card-content .right {
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  gap: 1rem;
}
/* Card-footer */

.card-footer {
  padding: 1rem 0;
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  align-items: center;
}

.card-footer img {
  border: 0.2rem solid var(--white--color);
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.card-footer p {
  color: var(--text-color);
  font-size: 1.7rem;
}
.card-footer span {
  color: var(--white--color);
}
